* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-image: url(./img/thunderstorm-3440450_960_720.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  border-radius: 8px;
}
.btn {
  width: 5rem;
}

#input {
  width: 15rem;
  text-align: center;
  font-size: 1.3rem;
  background: transparent;
  border: none;
  border-bottom: 3px solid red;
  color: white;
}

#input:focus {
  outline: none;
}

.icon {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  display: grid;
  grid-gap: 32px 20px;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
}

.city {
  border: 1px solid yellow;
  position: relative;
  padding: 40px 10%;
  border-radius: 20px;
  font-size: 30px;
  font-weight: 500;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.7);
}
