* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background-image: url(./img/thunderstorm-3440450_960_720.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100vh;
  border-radius: 8px;
}

#input {
  width: 15rem;
  text-align: center;
  font-size: 1.3rem;
  background: transparent;
  border: none;
  border-bottom: 3px solid red;
}
.result {
  border: 3px solid red;
  max-width: 9rem;
}

.city {
  font-size: 30px;
  font-weight: 500;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.7);
}

.temper {
  font-size: 40px;
}
